#fileselector {
    margin: 10px;
}
.upload-button {
    display:none;
}
.margin-correction {
    margin-right: 10px;
}
.container-fluid{
	.card{
			background-color:#fff;
			border:1px solid #e0e0e0;
			border-radius:0px;
			box-shadow: 0px 0px 1px 0px rgba(208, 208, 208, 0.72);
		}
}
.card-no-border{
	.page-wrapper{
		background-color:#eef1f5;
	}
} 